page-home {

    .heading{

        font-size: 30px;
        text-align: center;
        margin-top: 20px;


    }

    .input{

        margin-top: 30px;
    }

    .btm{

        
        margin-top: 40px !important;
    }

    .login{
        font-size: 20px !important;
        padding: 10px !important;
        min-height: 40px !important;
        border-radius: 10px;    
    }

    .signup{
        font-size: 20px !important;
        padding: 10px !important;
        min-height: 40px;
        border-radius: 10px;
        border-bottom: none !important;
    }
 
}
