page-asramamdetails {

    ion-content{
        background-image: url('../../assets/imgs/bg-2.jpg') !important;
        background-size: cover;
        background-position: center;
    }

    .heading{
        font-size: 25px !important;
        text-align: center;
        margin-top: 60px !important;
        color: white;
        font-weight: 500;
    }

    .signup_input{

        margin-top: 50px;

    }
    ion-input{

        background-color: transparent !important;
        color: white;
        margin-top: 40px;
        font-size: 20px;
    }

    ::placeholder{
        color: white !important;
        opacity: 3 !important;
    }

    ion-item{
        background-color: transparent !important;
    }

    .radio{
        margin-top: 50px;
        font-size: 30px !important;
    }

    .list_head{
        //margin-top: 20px;
        border-top: none;
        font-size: 18px;
    }

    .bn_save{
        min-height: 50px;
        min-width: 100px !important;
        margin-top: 80px !important;
        margin-left: 30% !important;
        font-size: 18px !important;
        background-color: transparent;
        border: solid thin white;
        box-shadow: 0 0 10px rgba(0, 0, 0, .6);
        
    }

   

    .segment{

        
        font-size: 20px;
    

    }

}
