<ion-content padding>

   <ion-label class="heading">Donations Available</ion-label>
   
   <div>

    <div padding>
      <ion-segment  [(ngModel)]="types">

        <ion-segment-button value="food">
          Food
        </ion-segment-button>
        
        <ion-segment-button value="cloths">
          Cloths
        </ion-segment-button>
      
      <ion-segment-button value="books">
        Books
      </ion-segment-button>

    </ion-segment>
    </div>
    
    <div [ngSwitch]="types">
      
      <ion-list *ngSwitchCase="'food'">
       
        <div class="form" padding>
        
          <ion-list>

            <ion-item no-lines  *ngFor = "let item of items">

              <ion-card>

                <ion-card-header> {{item.HotelName}} </ion-card-header>

                <ion-card-content>

                  <p><b>Food:</b> {{item.Food}} </p>
                  <p><b>Quantity:</b> {{item.Quantity}} </p>
                  <p><b>ContactNumber:</b> {{item.MobileNumber}} </p>

                </ion-card-content>

              </ion-card>

            </ion-item>


          </ion-list>
                

        </div>


      
        
      </ion-list>
    
      <ion-list *ngSwitchCase="'cloths'">
        <div class="form" padding>
         
              
            <ion-item no-lines *ngFor = "let c_item of c_items">

              <ion-card>

                <ion-card-header>Hotel Name: {{c_item.HotelName}} </ion-card-header>

                <ion-card-content>

                  <p><b>Cloth Type:</b> {{c_item.ClothType}} </p>
                  <p><b>Quantity:</b> {{c_item.Quantity}} </p>
                  <p><b>ContactNumber:</b> {{c_item.MobileNumber}} </p>

                </ion-card-content>

              </ion-card>

            </ion-item>
      
        </div>
      </ion-list>

      <ion-list *ngSwitchCase="'books'">

        <div class="form" padding>
          
                
            <ion-item no-lines *ngFor = "let b_item of b_items">

              <ion-card>

                <ion-card-header>Hotel Name:{{b_item.HotelName}} </ion-card-header>

                <ion-card-content>

                  <p><b>Book Type:</b> {{b_item.BookType}} </p>
                  <p><b>Quantity:</b> {{b_item.Quantity}} </p>
                  <p><b>ContactNumber:</b> {{b_item.MobileNumber}} </p>

                </ion-card-content>

              </ion-card>

            </ion-item>
      
        </div>


      </ion-list>

    </div>

  </div>

  <ion-item no-lines>
    <button item-end class="logout" (click)="signout()" ion-button>Signout</button>
  </ion-item>


</ion-content>