page-asramam {

    ion-segment-button{
        color: white !important;
        border-bottom:solid thin white !important;
    }

    ion-content{
        background-image: url('../../assets/imgs/donateh.jpg') !important;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        
    }

    ion-list{
        background-color: transparent !important;
    }

    ion-card{
        border: solid thin white !important;
        background-color: transparent !important;
        color: white !important;
    }

    p{
        color: white !important;
    }

    ion-card-header{
        color: white !important;
    }

    div{

        background-color: transparent !important;
        
    }

    ion-item{
        color: white !important;
        background-color: transparent !important;
    }

   

    .heading{
        text-align: center;
        font-size: 30px;
        font-weight: 700;
        color: white !important;
        font-family: cursive !important;
    }
    .logout{
       
        font-size: 20px !important;
        margin-top: 20px;
        min-height: 40px !important;
    }

    .call_bn{

        background-color: transparent;
        //font-size: 20px !important;
        border-radius: 50%;
        border: solid thin white;
        text-align: center !important;
    }

   

}
