page-signup {

    ion-content{
        background-image: url('../../assets/imgs/bg-1.jpg') !important;
        background-position: center;
        background-size: cover;
    }

    ion-segment-button{

        
        color: white !important;

    }

    .heading{
        font-size: 35px;
        text-align: center;
        margin-top: 20px;
        color: white;
        font-weight: 500;
    }

    .signup_input{

        margin-top: 60px;
        background-color: transparent;
    }
    ion-input{

        margin-top: 40px;
        color: white;
        font-size: 20px;

    }
    ::placeholder{

        color: white !important;
        opacity: 3;

    }

    .radio{
        margin-top: 50px;
        font-size: 30px !important;
    }

    .list_head{
        color: white !important;
        margin-top: 20px;
        border-top: none;
        font-size: 18px;
    }

    .bn_create{

        min-width: 80px;
        min-height: 50px;
        font-size: 15px !important;
        background-color: transparent;
        border: solid thin white;
        
    }

    .create{

        margin-top: 30px !important;
        min-width: 80px;
        min-height: 50px;

    }
    ion-item{
        background-color: transparent !important;
    }

    .segment{

        
        font-size: 20px;
    

    }
   

}
