page-signup {

    .signup_input{

        margin-top: 60px;

    }
    ion-input{

        margin-top: 40px;

    }

    .radio{
        margin-top: 30px;
        font-size: 30px !important;
    }

   

}
