page-hoteldetails {

    .heading{
        font-size: 18px;
        text-align: center;
        margin-top: 20px;
        font-weight: 500;
    }

    .signup_input{

        margin-top: 50px;

    }
    ion-input{

        margin-top: 40px;

    }

    .radio{
        margin-top: 50px;
        font-size: 30px !important;
    }

    .list_head{
        //margin-top: 20px;
        border-top: none;
        font-size: 18px;
    }

    .bn_save{
        min-height: 50px;
        min-width: 100px !important;
        margin-top: 50px !important;
        margin-left: 30% !important;
        font-size: 15px !important;
        
    }

   

    .segment{

        
        font-size: 20px;
    

    }
   

}
