page-hoteldetails {

    ion-content{
        background-image: url('../../assets/imgs/bg-2.jpg') !important;
        background-size: cover;
        background-position: center;
    }

    .heading{
        font-size: 30px;
        text-align: center;
        margin-top: 90px;
        font-weight: 500;
        color: white;
    }

    .signup_input{

        margin-top: 50px;

    }

    ion-item{
        background-color: transparent !important;
    }

    ion-input{
        color: white;
        margin-top: 40px;

    }
    ::placeholder{
        color: white !important;
        font-size: 20px;
        opacity: 3 !important;
    }

    .radio{
        margin-top: 50px;
        font-size: 30px !important;
    }

    .list_head{
        //margin-top: 20px;
        border-top: none;
        font-size: 18px;
    }

    .bn_save{
        min-height: 50px;
        min-width: 100px !important;
        margin-top: 70px !important;
        margin-left: 30% !important;
        font-size: 15px !important;
        background-color: transparent;
        border: solid thin white;
        
    }


    .segment{
    
       font-size: 20px;
    

    }
   

}
